*.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store

Code/output/*
Code/output.txt
output.txt
Code/output.txt
Code/out*
Code/out.txt
optnorand.txt
optrand.txt
opttest.txt
out-test.txt
outcost-backup.txt
outcost-opt.txt


test_encounters/*
*.txt
input_data/*
input_data/raw_data*
output_data/*
*.hdf

*.pyc
*.zip

docs/_build

tmp/

baseline_output.tgz